body {
    background-color: #DDD;
    position: relative;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}
ol li {
  counter-increment: my-awesome-counter;
}
ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: red;
  font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    
}

a {
    text-decoration: none;
    font-size: 20px;
}

/* Home page */

.logout, .profile{
    position: absolute;
    color: #000;
    top: 10px;
}

.logout {
    right: 10px;
}

.profile {
    left: 10px;
}

.container .home-links {
    border: 3px solid #333;
    border-radius: 10px;
    padding: 20px 50px;
}

.container .home-links a {
    background-color: #AAA;
    color: #000;
    padding: 15px 70px;
    display: block;
    margin-top: 10px;
}

.container .home-links a:hover {
    background-color: #AAB;
}

/* Profile */

.title {
    font-size: 40px;
    text-align: center;
}

.edit-user-form label {
    font-size: 18px;
    font-weight: bold;
}

.edit-user-form input {
    width: 200px;
    height: 20px;
    padding: 3px 10px; 
    margin-bottom: 20px;
    border: none
}